@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Dancing+Script:wght@500&family=Patrick+Hand&family=Pacifico&family=Handlee&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: only light;
}

::-webkit-scrollbar {
	display: none;
}

body {
	margin: 0;
	padding: 0;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@keyframes textGradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes jiggle-x {
	0% {
		transform: translateX(0);
	}
	33% {
		transform: translateX(-5px);
	}
	66% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes hue-rotate {
	0% {
		filter: hue-rotate(0deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}

.text-gradient {
	background: linear-gradient(
		-45deg,
		#fc1a1a,
		#ee7752,
		#d92ebd,
		#1224e7,
		#23d5ab,
		#6e34d3,
		#fc1a1a
	);
	background-clip: text;
	background-size: 150% 150%;
	animation: textGradient 12s ease infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
}

.Typewriter {
	display: flex;
	justify-items: center;
	align-items: center;
	min-height: 2rem;
}
